<main>
    <div class="centrar">
        <img src="/Imagenes/NoHaze-Logo nuevo.png" alt="NoHaze Logo">
        <h1 class="titulo">Login</h1>
    </div>

    <form action='@Url.Action("guardarLogin","Account")' method="POST">
        <section>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <h4>Forgot password?</h4>
            <input type="submit" value="Log in"/>
        </section>
    </form>

    <div class="centrar">
        <a href='@Url.Action("Index","Home")' class="back-arrow">&#8629;</a>
    </div>

</main>