<h1>Apps de Ocio</h1>

<a href="#">
<img src="/Imagenes/add-icon.png" />
Seleccionar app de ocio

</a>

<section>

    <div>
    
        <img src="/Imagenes/tiktok-icon.png/" />

        Tiktok

        <a href="#">
        
        <img src="/Imagenes/delete-icon.png" /> 

        </a>

    </div>

    <div>
    
        <img src="/Imagenes/x-icon.jpg/" />

        X

        <a href="#">
        
        <img src="/Imagenes/delete-icon.png" /> 

        </a>

    </div>

        <div>
    
        <img src="/Imagenes/youtube-icon.png/" />

        Youtube

        <a href="#">
        
        <img src="/Imagenes/delete-icon.png" /> 

        </a>

    </div>


</section>