
<h1>Apps de Ocio</h1>

<input type="search" id="Buscador-Ocio" name="buscador"/>

@foreach(AppOcio i in ViewBag.ListaApps)
{
    <div>

    <img src="/Imagenes/@i.Icono" alt="Icono-App">
    <h2>@i.Nombre</h2>
    <button onclick="eliminarAppOcio('@i.id')">✕</button>


    </div>


}