<main class="apps-ocio-page">

<h1>Apps de Ocio</h1>

    @foreach (AppOcio item in @ViewBag.listaAppsNoAsociadas)
    {
        <div id="noApp_@item.ID">
            <img src="/Imagenes/@item.foto/" />

            @item.titulo

            <a href='@Url.Action("agregarAppOcio", "Home", new { IDAppOcio = item.ID })'>

                <input type="image" src="/Imagenes/delete-icon.png" onclick="AgregarApp(@item.ID)"/>

            </a>
        </div>
    }

</main>
<!-- fin boton para volver -->