<main class="apps-ocio-page">

<h1>Apps de Ocio</h1>

<a href='@Url.Action("Pasar", "Home", new { Direccion = "AppsDeOcio_Selector" })'>
    <img src="/Imagenes/add-icon.png" />
    Seleccionar app de ocio

</a>

<section>

    @foreach (AppOcio item in @ViewBag.listaAppsOcio)
    {
        <div id="app_@item.id">
            <img src="/Imagenes/@item.foto/" />

            @item.titulo
            <input type="image" src="/Imagenes/delete-icon.png" onclick="EliminarApp(@item.id)" />
        </div>
    }

</section>
</main>

<!-- 100 committtttts -->