<h1>Apps de Ocio</h1>

<a href="#">
<img src="/Imagenes/add-icon.png" />
Seleccionar app de ocio

</a>

<section>

    @foreach(AppOcio item in @ViewBag.listaAppsOcio)
    {
    <div>
          <img src="/Imagenes/@item.foto/" />

        @item.titulo

        <a href="#">
        
        
        <img src="/Imagenes/delete-icon.png" /> 

        </a>
    </div>
    }

</section>