<img src="" alt="">
<!-- faltan las @Viewbags -->

<!-- nombre -->
<h1></h1>
 <!--date  -->
<h3></h3>
<!-- objetivo -->
<h3></h3>
<!-- descripcion -->
<h3></h3>

<a href="#">Editar</a>
<a href="#">Log Out</a>