<!-- hay que hacer lo de buscar -->
<section>
    
    <!-- foreach -->
        <div>
            <h2>nombrePlaylist</h2>
            <a href="#">|></a>
            <!-- foreach -->
            <!-- tags -->
            <!-- cierre -->
            
        </div>
    <!-- cierre -->
</section>