    <main>
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                </form>
            </div>

            <section>
                    @for(int i = 0; i < ViewBag.Playlist.count; i++)
                {
                <div>
                    <img src= @item.foto alt="FotoPlaylist">
                    <h2> @ViewBag.Playlist[i].titulo </h2>
                    <button onclick="Play()">Play</button>
                    @foreach(Tag item in ViewBag.["Tags"+i])
                    {
                       <p>@item.titulo</p> 
                    }
                </div>

                }

            </section>
    </main>