    <main>

        <h1>Tienda de monedas</h1>

        <p>En esta tienda podras comprar tiempo de ocio en tus apps</p>

        <section class="layout">
            <div>
                <img src="" alt="AppOcio">
                <button onclick="Comprar()">Comprar</button>
            </div>
            <div>
                <img src="" alt="AppOcio">
                <button onclick="Comprar()">Comprar</button>
            </div>
            <div>
                <img src="" alt="AppOcio">
                <button onclick="Comprar()">Comprar</button>
            </div>
            <div>
                <img src="" alt="AppOcio">
                <button onclick="Comprar()">Comprar</button>
            </div>
          </section>


    </main>