USE [master]
GO
/****** Object:  Database [NoHaze]    Script Date: 26/11/2025 15:32:16 ******/
CREATE DATABASE [NoHaze]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoHaze', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NoHaze.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoHaze_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NoHaze_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoHaze].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoHaze]
GO
/****** Object:  User [alumno]    Script Date: 26/11/2025 15:32:16 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[App X Usuario]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App X Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDApp] [int] NOT NULL,
 CONSTRAINT [PK_App X Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppsOceo]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppsOceo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AppsOseo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desafio X Usuario]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desafio X Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDDesafio] [int] NOT NULL,
	[progreso] [float] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Desafio X Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desafios]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desafios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[recompensa] [int] NOT NULL,
	[meta] [int] NOT NULL,
 CONSTRAINT [PK_Desafios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frecuencia X Playlist]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frecuencia X Playlist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFrecuencia] [int] NOT NULL,
	[IDPlaylist] [int] NOT NULL,
 CONSTRAINT [PK_Sonido X Playlist] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frecuencias]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frecuencias](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[autor] [varchar](50) NOT NULL,
	[frecuencia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Sonidos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informes]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[horas] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[dia] [date] NOT NULL,
 CONSTRAINT [PK_Informes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[autor] [varchar](50) NOT NULL,
	[IDUsuario] [int] NULL,
	[foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag X Playlist]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag X Playlist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPlaylist] [int] NOT NULL,
	[IDTag] [int] NOT NULL,
 CONSTRAINT [PK_Tag X Playlist] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[objetivo] [varchar](50) NULL,
	[monedas] [int] NOT NULL,
	[aceptaNotificaciones] [bit] NOT NULL,
	[ultimoIngreso] [date] NULL,
	[racha] [int] NOT NULL,
	[foto] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[App X Usuario] ON 

INSERT [dbo].[App X Usuario] ([ID], [IDUsuario], [IDApp]) VALUES (4, 2, 1)
INSERT [dbo].[App X Usuario] ([ID], [IDUsuario], [IDApp]) VALUES (5, 2, 2)
INSERT [dbo].[App X Usuario] ([ID], [IDUsuario], [IDApp]) VALUES (6, 2, 3)
SET IDENTITY_INSERT [dbo].[App X Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[AppsOceo] ON 

INSERT [dbo].[AppsOceo] ([ID], [titulo], [foto]) VALUES (1, N'Instagram', N'instagram-logo.png')
INSERT [dbo].[AppsOceo] ([ID], [titulo], [foto]) VALUES (2, N'Twitter', N'logo-x.png')
INSERT [dbo].[AppsOceo] ([ID], [titulo], [foto]) VALUES (3, N'TikTok', N'tiktok-icon.png')
SET IDENTITY_INSERT [dbo].[AppsOceo] OFF
GO
SET IDENTITY_INSERT [dbo].[Desafio X Usuario] ON 

INSERT [dbo].[Desafio X Usuario] ([ID], [IDUsuario], [IDDesafio], [progreso], [activo]) VALUES (1, 1, 1, 0, 1)
INSERT [dbo].[Desafio X Usuario] ([ID], [IDUsuario], [IDDesafio], [progreso], [activo]) VALUES (2, 1, 2, 0, 0)
INSERT [dbo].[Desafio X Usuario] ([ID], [IDUsuario], [IDDesafio], [progreso], [activo]) VALUES (3, 1, 3, 0, 0)
SET IDENTITY_INSERT [dbo].[Desafio X Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Desafios] ON 

INSERT [dbo].[Desafios] ([ID], [titulo], [recompensa], [meta]) VALUES (1, N'Minuto', 20, 1)
INSERT [dbo].[Desafios] ([ID], [titulo], [recompensa], [meta]) VALUES (2, N'Minutos', 30, 6)
INSERT [dbo].[Desafios] ([ID], [titulo], [recompensa], [meta]) VALUES (3, N'Minutos', 40, 8)
SET IDENTITY_INSERT [dbo].[Desafios] OFF
GO
SET IDENTITY_INSERT [dbo].[Frecuencia X Playlist] ON 

INSERT [dbo].[Frecuencia X Playlist] ([ID], [IDFrecuencia], [IDPlaylist]) VALUES (1, 1, 1)
INSERT [dbo].[Frecuencia X Playlist] ([ID], [IDFrecuencia], [IDPlaylist]) VALUES (2, 7, 1)
INSERT [dbo].[Frecuencia X Playlist] ([ID], [IDFrecuencia], [IDPlaylist]) VALUES (3, 8, 1)
SET IDENTITY_INSERT [dbo].[Frecuencia X Playlist] OFF
GO
SET IDENTITY_INSERT [dbo].[Frecuencias] ON 

INSERT [dbo].[Frecuencias] ([ID], [titulo], [autor], [frecuencia]) VALUES (1, N'100Hz (Study)', N'NoHaze Team', N'100hz')
INSERT [dbo].[Frecuencias] ([ID], [titulo], [autor], [frecuencia]) VALUES (2, N'432Hz (Focus)', N'NoHaze Team', N'432hz')
INSERT [dbo].[Frecuencias] ([ID], [titulo], [autor], [frecuencia]) VALUES (3, N'528Hz (Sleep)', N'NoHaze Team', N'528hz')
SET IDENTITY_INSERT [dbo].[Frecuencias] OFF
GO
SET IDENTITY_INSERT [dbo].[Informes] ON 

INSERT [dbo].[Informes] ([ID], [horas], [IDUsuario], [dia]) VALUES (1, 3, 1, CAST(N'2025-10-14' AS Date))
INSERT [dbo].[Informes] ([ID], [horas], [IDUsuario], [dia]) VALUES (2, 4, 1, CAST(N'2025-10-14' AS Date))
INSERT [dbo].[Informes] ([ID], [horas], [IDUsuario], [dia]) VALUES (3, 5, 1, CAST(N'2025-10-14' AS Date))
SET IDENTITY_INSERT [dbo].[Informes] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlists] ON 

INSERT [dbo].[Playlists] ([ID], [titulo], [autor], [IDUsuario], [foto]) VALUES (1, N'100Hz (Study)', N'NoHaze Team', 1, N'fondoPlaylist.png')
INSERT [dbo].[Playlists] ([ID], [titulo], [autor], [IDUsuario], [foto]) VALUES (2, N'432Hz (Focus)', N'NoHaze Team', 1, N'fondoPlaylist.png')
INSERT [dbo].[Playlists] ([ID], [titulo], [autor], [IDUsuario], [foto]) VALUES (3, N'528Hz (Sleep)', N'NoHaze Team', 1, N'fondoPlaylist.png')
SET IDENTITY_INSERT [dbo].[Playlists] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag X Playlist] ON 

INSERT [dbo].[Tag X Playlist] ([ID], [IDPlaylist], [IDTag]) VALUES (1, 1, 1)
INSERT [dbo].[Tag X Playlist] ([ID], [IDPlaylist], [IDTag]) VALUES (2, 1, 2)
INSERT [dbo].[Tag X Playlist] ([ID], [IDPlaylist], [IDTag]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[Tag X Playlist] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([ID], [titulo]) VALUES (1, N'Focus')
INSERT [dbo].[Tags] ([ID], [titulo]) VALUES (2, N'Productivity')
INSERT [dbo].[Tags] ([ID], [titulo]) VALUES (3, N'Concentration')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [username], [email], [password], [fechaNacimiento], [descripcion], [objetivo], [monedas], [aceptaNotificaciones], [ultimoIngreso], [racha], [foto]) VALUES (1, N'cajaf', N'cajaf@gmail.com', N'1234', CAST(N'2025-10-01' AS Date), NULL, NULL, 90, 0, CAST(N'2025-11-13' AS Date), 3, N'ñonkler.jfif')
INSERT [dbo].[Usuarios] ([ID], [username], [email], [password], [fechaNacimiento], [descripcion], [objetivo], [monedas], [aceptaNotificaciones], [ultimoIngreso], [racha], [foto]) VALUES (2, N'Felibeck', N'felibeckford@gmail.com', N'1234', CAST(N'2009-01-09' AS Date), N'Me gusta comer milanesas con puré.', N'Eficiencia V', 50, 0, CAST(N'2025-11-13' AS Date), 3, NULL)
INSERT [dbo].[Usuarios] ([ID], [username], [email], [password], [fechaNacimiento], [descripcion], [objetivo], [monedas], [aceptaNotificaciones], [ultimoIngreso], [racha], [foto]) VALUES (3, N'cajaf1', N'hola@gmail.com', N'12345', CAST(N'2025-11-28' AS Date), NULL, NULL, 0, 0, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Desafio X Usuario] ADD  CONSTRAINT [DF_Desafio X Usuario_activo]  DEFAULT ((0)) FOR [activo]
GO
ALTER TABLE [dbo].[App X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_App X Usuario_AppsOseo] FOREIGN KEY([IDApp])
REFERENCES [dbo].[AppsOceo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[App X Usuario] CHECK CONSTRAINT [FK_App X Usuario_AppsOseo]
GO
ALTER TABLE [dbo].[App X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_App X Usuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[App X Usuario] CHECK CONSTRAINT [FK_App X Usuario_Usuarios]
GO
ALTER TABLE [dbo].[Desafio X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Desafio X Usuario_Desafios] FOREIGN KEY([IDDesafio])
REFERENCES [dbo].[Desafios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Desafio X Usuario] CHECK CONSTRAINT [FK_Desafio X Usuario_Desafios]
GO
ALTER TABLE [dbo].[Desafio X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Desafio X Usuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Desafio X Usuario] CHECK CONSTRAINT [FK_Desafio X Usuario_Usuarios]
GO
ALTER TABLE [dbo].[Frecuencia X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Sonido X Playlist_Playlists] FOREIGN KEY([IDPlaylist])
REFERENCES [dbo].[Playlists] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Frecuencia X Playlist] CHECK CONSTRAINT [FK_Sonido X Playlist_Playlists]
GO
ALTER TABLE [dbo].[Frecuencia X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Sonido X Playlist_Sonidos] FOREIGN KEY([IDFrecuencia])
REFERENCES [dbo].[Frecuencias] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Frecuencia X Playlist] CHECK CONSTRAINT [FK_Sonido X Playlist_Sonidos]
GO
ALTER TABLE [dbo].[Informes]  WITH CHECK ADD  CONSTRAINT [FK_Informes_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Informes] CHECK CONSTRAINT [FK_Informes_Usuarios]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Usuarios]
GO
ALTER TABLE [dbo].[Tag X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Tag X Playlist_Playlists] FOREIGN KEY([IDPlaylist])
REFERENCES [dbo].[Playlists] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag X Playlist] CHECK CONSTRAINT [FK_Tag X Playlist_Playlists]
GO
ALTER TABLE [dbo].[Tag X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Tag X Playlist_Tags] FOREIGN KEY([IDTag])
REFERENCES [dbo].[Tags] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag X Playlist] CHECK CONSTRAINT [FK_Tag X Playlist_Tags]
GO
/****** Object:  StoredProcedure [dbo].[actualizarPerfil]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[actualizarPerfil]

@username varchar(50),
@fechaNacimiento date,
@descripcion varchar(50),
@objetivo varchar(50),
@IDUsuario int,
@foto varchar(50)

AS
BEGIN

UPDATE Usuarios
SET Usuarios.username = @username, Usuarios.fechaNacimiento = @fechaNacimiento, Usuarios.descripcion = @descripcion, Usuarios.objetivo = @objetivo, Usuarios.foto = @foto
WHERE Usuarios.ID = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[agregarAppOcio]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[agregarAppOcio]

@IDUsuario int,
@IDApp int


AS
BEGIN

	INSERT INTO [App X Usuario] (IDUsuario, IDApp) VALUES (@IDUsuario, @IDApp)

END
GO
/****** Object:  StoredProcedure [dbo].[AgregarRecompensa]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarRecompensa]  
@ID int,
@Recompensa int

AS
BEGIN
	
	UPDATE Usuarios
	Set monedas = monedas+@Recompensa
	where ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[AgregarRegistro]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================


CREATE PROCEDURE [dbo].[AgregarRegistro]

@ID int,
@Tiempo int,
@Fecha date

AS
BEGIN

	INSERT INTO Informes (horas,IDUsuario,dia) VALUES (@Tiempo, @ID, @Fecha)


END
GO
/****** Object:  StoredProcedure [dbo].[cambiarFechaLogin]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[cambiarFechaLogin]

@idUsuario int

AS
BEGIN

UPDATE Usuarios set ultimoIngreso = GETDATE()
where Usuarios.ID =  @idUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[CompletarMision]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================


CREATE PROCEDURE [dbo].[CompletarMision]

@IDdxu int

AS
BEGIN
	
	UPDATE [Desafio X Usuario]
	Set activo = 1
	where ID = @IDdxu

END
GO
/****** Object:  StoredProcedure [dbo].[eliminarAppOcio]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[eliminarAppOcio]

@ID int

AS
BEGIN

DELETE FROM [App X Usuario] WHERE [App X Usuario].ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[getAppsNoAsociadas]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getAppsNoAsociadas]
    @IDUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT a.ID, a.titulo, a.foto
    FROM [dbo].[AppsOceo] AS a
    LEFT JOIN [dbo].[App X Usuario] AS axu
        ON a.ID = axu.IDApp 
       AND axu.IDUsuario = @IDUsuario 
    WHERE axu.IDApp IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[getDesafios]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDesafios]

@IDUsuario int

AS 
BEGIN

SELECT DxU.ID, DxU.activo, D.titulo, D.meta, D.recompensa FROM Desafios as D
INNER JOIN [Desafio X Usuario] as DxU on DxU.IDDesafio = D.ID
WHERE DxU.IDUsuario = 1

END
GO
/****** Object:  StoredProcedure [dbo].[getFrecuencias]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getFrecuencias]

@IDPlaylist int

AS
BEGIN

SELECT * FROM Frecuencias
INNER JOIN [Frecuencia X Playlist] as FxP on FxP.IdFrecuencia = Frecuencias.ID
WHERE FxP.IDPlaylist = @IDPlaylist

END
GO
/****** Object:  StoredProcedure [dbo].[getHorasProductivas]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getHorasProductivas]
	-- Add the parameters for the stored procedure here
	@IDUsuario int,
	@dias int
AS
BEGIN

	SELECT * FROM Informes 
	WHERE IDUsuario = @IDUsuario AND GETDATE() >= (GETDATE() - @dias)

END
GO
/****** Object:  StoredProcedure [dbo].[getListaAppsOcio]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getListaAppsOcio]

@IDUsuario int

AS
BEGIN

SELECT AxU.ID, AppsOceo.foto, AppsOceo.titulo FROM AppsOceo
INNER JOIN [App X Usuario] as AxU on AxU.IDApp = AppsOceo.ID
WHERE AxU.IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[getListaTags]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getListaTags]

@IDPlaylist int

AS
BEGIN

	SELECT * FROM Tags
	INNER JOIN [Tag X Playlist] as TxP on TxP.IDTag = Tags.ID
	WHERE TxP.IDPlaylist = @IDPlaylist

END
GO
/****** Object:  StoredProcedure [dbo].[RecargarDesafios]    Script Date: 26/11/2025 15:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[RecargarDesafios]

@IDUsuario int

AS
BEGIN 

UPDATE [Desafio X Usuario] set activo = 0
where IDUsuario = @IDUsuario

END
GO
USE [master]
GO
