USE [master]
GO
/****** Object:  Database [NoHaze]    Script Date: 30/10/2025 12:08:50 ******/
CREATE DATABASE [NoHaze]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NoHaze', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NoHaze.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NoHaze_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NoHaze_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NoHaze].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NoHaze]
GO
/****** Object:  User [alumno]    Script Date: 30/10/2025 12:08:50 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[App X Usuario]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App X Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDApp] [int] NOT NULL,
 CONSTRAINT [PK_App X Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppsOceo]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppsOceo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AppsOseo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desafio X Usuario]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desafio X Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDDesafio] [int] NOT NULL,
	[progreso] [float] NOT NULL,
 CONSTRAINT [PK_Desafio X Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desafios]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desafios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[recompensa] [int] NOT NULL,
	[meta] [int] NOT NULL,
 CONSTRAINT [PK_Desafios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frecuencia X Playlist]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frecuencia X Playlist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFrecuencia] [int] NOT NULL,
	[IDPlaylist] [int] NOT NULL,
 CONSTRAINT [PK_Sonido X Playlist] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frecuencias]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frecuencias](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[autor] [varchar](50) NOT NULL,
	[frecuencia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Sonidos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informes]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[horas] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[dia] [date] NOT NULL,
 CONSTRAINT [PK_Informes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[autor] [varchar](50) NOT NULL,
	[IDUsuario] [int] NULL,
	[foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag X Playlist]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag X Playlist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPlaylist] [int] NOT NULL,
	[IDTag] [int] NOT NULL,
 CONSTRAINT [PK_Tag X Playlist] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[objetivo] [varchar](50) NULL,
	[monedas] [int] NOT NULL,
	[aceptaNotificaciones] [bit] NOT NULL,
	[ultimoIngreso] [date] NULL,
	[racha] [int] NOT NULL,
	[foto] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[App X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_App X Usuario_AppsOseo] FOREIGN KEY([IDApp])
REFERENCES [dbo].[AppsOceo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[App X Usuario] CHECK CONSTRAINT [FK_App X Usuario_AppsOseo]
GO
ALTER TABLE [dbo].[App X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_App X Usuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[App X Usuario] CHECK CONSTRAINT [FK_App X Usuario_Usuarios]
GO
ALTER TABLE [dbo].[Desafio X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Desafio X Usuario_Desafios] FOREIGN KEY([IDDesafio])
REFERENCES [dbo].[Desafios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Desafio X Usuario] CHECK CONSTRAINT [FK_Desafio X Usuario_Desafios]
GO
ALTER TABLE [dbo].[Desafio X Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Desafio X Usuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Desafio X Usuario] CHECK CONSTRAINT [FK_Desafio X Usuario_Usuarios]
GO
ALTER TABLE [dbo].[Frecuencia X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Sonido X Playlist_Playlists] FOREIGN KEY([IDPlaylist])
REFERENCES [dbo].[Playlists] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Frecuencia X Playlist] CHECK CONSTRAINT [FK_Sonido X Playlist_Playlists]
GO
ALTER TABLE [dbo].[Frecuencia X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Sonido X Playlist_Sonidos] FOREIGN KEY([IDFrecuencia])
REFERENCES [dbo].[Frecuencias] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Frecuencia X Playlist] CHECK CONSTRAINT [FK_Sonido X Playlist_Sonidos]
GO
ALTER TABLE [dbo].[Informes]  WITH CHECK ADD  CONSTRAINT [FK_Informes_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Informes] CHECK CONSTRAINT [FK_Informes_Usuarios]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Usuarios]
GO
ALTER TABLE [dbo].[Tag X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Tag X Playlist_Playlists] FOREIGN KEY([IDPlaylist])
REFERENCES [dbo].[Playlists] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag X Playlist] CHECK CONSTRAINT [FK_Tag X Playlist_Playlists]
GO
ALTER TABLE [dbo].[Tag X Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Tag X Playlist_Tags] FOREIGN KEY([IDTag])
REFERENCES [dbo].[Tags] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag X Playlist] CHECK CONSTRAINT [FK_Tag X Playlist_Tags]
GO
/****** Object:  StoredProcedure [dbo].[eliminarAppOcio]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[eliminarAppOcio]

@IDApp int,
@IDUsuario int

AS
BEGIN

DELETE FROM [App X Usuario] WHERE [App X Usuario].IDApp = @IDApp AND [App X Usuario].IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[getDesafios]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDesafios]

@IDUsuario int

AS 
BEGIN

SELECT * FROM Desafios
INNER JOIN [Desafio X Usuario] as DxU on DxU.IDDesafio = Desafios.ID
WHERE DxU.IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[getFrecuencias]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getFrecuencias]

@IDPlaylist int

AS
BEGIN

SELECT * FROM Frecuencias
INNER JOIN [Frecuencia X Playlist] as FxP on FxP.IdFrecuencia = Frecuencias.ID
WHERE FxP.IDPlaylist = @IDPlaylist

END
GO
/****** Object:  StoredProcedure [dbo].[getListaAppsOcio]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getListaAppsOcio]

@IDUsuario int

AS
BEGIN

SELECT * FROM AppsOceo
INNER JOIN [App X Usuario] as AxU on AxU.IDApp = AppsOceo.ID
WHERE AxU.IDUsuario = @IDUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[getListaTags]    Script Date: 30/10/2025 12:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getListaTags]

@IDPlaylist int

AS
BEGIN

	SELECT * FROM Tags
	INNER JOIN [Tag X Playlist] as TxP on TxP.IDTag = Tags.ID
	WHERE TxP.IDPlaylist = @IDPlaylist

END
GO
USE [master]
GO
